@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Light-gray);
  font-family: "Outfit", sans-serif;
  font-size: 100%;
  line-height: 1.6;
}

.container {
  width: 90%;
  margin: auto;
  height: 80%;
}

article {
  height: 100%;
  width: 96%;
  margin: auto;
  padding: 0.75rem 0.95rem;
  background-color: var(--White);
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  box-shadow: 0 0 0 0.43rem rgba(0, 0, 0, 5%);
}
.wrapper {
  height: 68%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1.25rem;
  display: block;
}

h1 {
  margin: 0;
  color: var(--Dark-blue);
}
p {
  color: var(--Grayish-blue);
}

@media screen and (min-width: 450px) {
  article {
    width: 80%;
  }
}

@media screen and (min-width: 540px) {
  article {
    width: 60%;
  }
}

@media screen and (min-width: 720px) {
  article {
    width: 50%;
  }
}

@media screen and (min-width: 890px) {
  article {
    width: 40%;
  }
}

@media screen and (min-width: 1040px) {
  article {
    width: 27.5%;
  }
}
